<form method="post" enctype="multipart/form-data">
    <div class="row">
        <label>Select Excel File</label>
        <input type="file" name="file" />
    </div>
    <br />
    <div class=" row" style="padding-top:10px;">
        <div class="col-3">
            <input type="submit" asp-controller="NgonNguGiangDay" asp-action="UploadExcel" class="btn btn-dark" value="Read Excel File" />

        </div>
    </div>
</form>
