@{
    ViewData["Title"] = "Chartjs";
}

<body>
    <h1 style="text-align:center"> NĂM ÁP DỤNG CHƯƠNG TRÌNH</h1>
    <pre></pre>

    <!-- copy vào đây
                <div class="chart-container" style="width: 80%; height: 70vh; margin: 0 auto;">
          <canvas id="chartContainer"></canvas>
            </div>
            nhớ để cái class như này đỡ mất công chỉh nhé
    -->
</body>